# Gradle
.gradle/
app/build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.bak
*.swp
*~.nib

# Logs
*.log

# Archivos específicos de tu aplicación
# (añade aquí cualquier archivo que no quieras subir)